// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.btn {
    background-color: rgb(214, 194, 15);
    padding: 15px;
    margin: 15px;
    border-radius: 100px;
    color: white;
}

.btn:hover {
    background-color: rgba(214, 94, 15, 0.7);
}